# Python. Aрифметика и типы данных

## На что вы смотрите и что видите

Вы видите тетрадку, где бок о бок с кодом на `python` есть и просто текст-текст. Это удобно, всё рядом, код можно обширно пояснять.

Сами по себе тетрадки — это просто текст (код на языке `python` тоже текст). Но если этот текст открыть на `GitHub`, в `Google Colab`, в `Jupyter` или где-то ещё, он будет довольно красиво оформлен (с разными шрифтами для текста и кода, серым фоном для кода и т.д.).

Они имеют расширение `.ipynb`.

Мы будем работать в юпитере.

Если у вас windows, установите [Анаконду](anaconda.com/products/individual#Downloads), юпитер будет внутри. Вот тут подробная [инструкция по установке](https://edu.hse.ru/pluginfile.php/2117678/mod_lesson/intro/%D0%B7%D0%B4%D0%B5%D1%81%D1%8C.pdf).

Если у вас мак, выпоните в терминале `pip install notebook`, а потом запускайте с помощью команды `jupyter notebook`.

Про код мы будем говорить много, а текстовые ячейки можно оформлять, используя [эти возможности](https://docs.github.com/ru/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax).

## Первый код 
<a name="first-code"></a>

Первое, что обычно делают при знакомстве с языком программирования это печатают: `"Привет, мир!"`
Не будем отступать от традиции. Вот так это выглядит на языке python:

In [ ]:
print('Hello, world!')

Заметьте, как `Hello, world!` распечаталось под ячейкой с кодом! Это **вывод ячейки**.

Команда `print` это функция. Функции выполняют какое-то предопределённое действие с тем, с чем их попросят, — **со своими аргументами**.
Функция `print` напечатала строку `Hello, world!`, эта строка - её аргумент. **Аргументы** пишут внутри скобок.

Строка - это набор символов. Записываются строки просто между кавычками, одинарными `'`, как выше, или двойными `"`. Можно использовать одинарные, или двойные, как больше нравится. Главное, чтобы набор символов с двух сторон охватывался одинаковыми кавычками: `'Hello, world!'` или `"Hello, world!"`.

Распечатайте в ячейке ниже `And hello, python!`.

## Переменные

Если мы хотим взять что-то и использовать это не сразу, потом, может даже несколько раз, то нам нужно это что-то **назвать**. Сохранить в переменную.


Ниже мы создаём переменную, название для числа 5. Это название `a`. Переменная `a` теперь равна пяти.

In [ ]:
a = 5
print(a)

**Обратите внимание!** Здесь же мы передаём штуку другого характера: переменную `a`. Функция выяснит значение переменной и сработает с этим значением.

In [ ]:
print("a")  # печатаем строку "а"
print(a)  # печатаем переменную a

In [ ]:
b = 7
c =  a + b
print(c)
print(a + b)

**Обратите внимание!** Теперь мы вообще передали в функцию арифметическое выражение. Так можно! Точно как с переменными: выражение посчитается и функция сработает с результатом этого выражения.

In [ ]:
print("a + b =", c)  # Можно указать через запятую несколько сущностей для печати
print(10 / 3)  # Комментарии можно писать после решётки

In [ ]:
А без решётки не код ломает программу.
Потому что интерпретатор ожидает, что текст будет на питоне, а это русский.
print('работает')

Ещё можно создать несколько переменных с одинаковым значением (несколько имён для значения!):

In [ ]:
x = y = z = 42 

print(x)
print(y)
print(z)

## Распаковка / множественное присвоение

Можно записать слева и справа от `=` одинаковое количество объектов и присвоить так:

In [ ]:
a, b, c = 'это а', 'это б', 'это ц' 

print(a)
print(b)
print(c)

In [ ]:
a, b, c = 'это а', 'это б'  # а тут количество слева и справа от = не совпадает

print(a)
print(b)
print(c)

In [ ]:
a, b, = 'это а', 'это б', 'это ц'  # и тут

print(a)
print(b)
print(c)

## Математические операторы
- `+ - * / =` 
- `%` - остаток от деления
- `//` - целая часть при делении
- `**` - возведение в степень

Каждое выражение с новой строки.

Порядок действий привычный.

In [ ]:
print(2 + 2 * 2)  # = 6
print((2 + 2) * 2)  # = 8

В десятичных дробях точка `.` (не запятая `,`). Так принято в англоязычном мире.

In [ ]:
print(10 / 3)

Обратите внимание, что `10 / 3` должно бы быть 3.(3) - три целых и три в периоде. Но тут в конце почему-то `5`. Возможно дело в несовершенном хранении в компьютере дробных чисел

In [ ]:
print(10/9)

Посмотрим на менее известные операции:

In [ ]:
5 % 2  # 1 - остаток от деления (5 = 2 * 2 + 1)
5 // 2  # 2 - целая часть       (5 = 2 * 2 + 1)
5 ** 3  # 125 - возведение в степень
# В таких тетрадках с кодом выводится последнее действие

Произвели три действия, а вывелось одно число.

Потому что в .ipynb тетрадках выводится последнее действие в ячейке, даже если не просить его напечатать.

Если нужно напечать конкретное действие или переменную, используем print()

In [ ]:
print(5 % 2)
print(5 // 2)
print(5 ** 3)

## Типы данных
Есть разные объекты: числа, строки с текстом, списки, словари и т.д.

Посмотрим на 3 типа данных:
- целые числа
- десятичные дроби (числа с точкой)
- строки

In [ ]:
number = 324  # целое число
number_float = 324.52 # число "с плавающей точкой"
text = 'что-то в кавычках' # строка # кавычки могут быть одинарные, двойные, тройные

# Мы храним их в переменных
# number, number_float, text - переменные

In [ ]:
# Название переменных может быть любое. Лучше латиницей, лучше говорящие.
плим = "а я придумал слово"  # не делайте так

`type()` - узнать тип данных

In [ ]:
print(type(324)) # целое число - int (от integer number)
print(type(324.3407))  # число с плавающей точкой - float (от floating-point number)
print(type(text))  # строка - str (от string)

- целое число - `int` (от integer number)
- число с плавающей точкой - `float` (от floating-point number)
- строка - `str` (от string)

Знать тип данных важно, потому что не с любым типом данных можно совершать определённые действия

In [ ]:
# Что будет, если сложить две строчки?
print("строчка1" + "строчка2")  # 'строчка1строчка2'
print("1" + "2")  # '12' будет

# А если сложить два числа:
print(1 + 2)  # тут 3 будет

In [ ]:
# складывать строки и числа вообще нельзя
print(1 + " " + 2)

##### *Про ошибки*

Если у вас возникла ошибка, прочтите объяснение. Здесь нам говорят, что + не умеет складывать int с str.

Можно гуглить ошибки. Обычно на сайте stackoverflow уже решена ваша проблема.

In [ ]:
# К счастью, числа int и float складываются

number_int = 3
number_float = 2.5
print(number_int + number_float)
print(type(number_int + number_float))  # получается тип float

## Есть функции:

Их можно вызывать:

Общий вид: `<function>(то_к_чему_надо_применить)`

`print()` - мы видели выше. Печатает то, к чему применяется.

`type()` - узнать тип данных

А вот ещё новая:

### `input()` - функция принимает текст от пользователя

Функции input() можно передать в качестве аргумента строку, которую увидит пользователь перед вводом.

Аргументы &mdash; значения, которые функция принимает на вход. (То, что в скобках пишем).

In [ ]:
# по умолчанию пользователь получает нулевую строку перед вводом (то есть ничего не видит)
unknown_input = input()

**Обратите внимание!** записать в переменную мы можем...:
- не только для числа или строки (`number_int = 3`, `text = 'что-то в кавычках'`),
- не только выражения типа арифметических (`c = a + b`),
- но и для результаты выполнения функций (функция выполнилась, что-то выдала, мы это сохранили)

In [ ]:
# А вот тут мы объяснили, что от него хотим
user_input = input('Введите число и нажмите enter ')

In [ ]:
print(user_input)
print(type(user_input))  # Всегда принимаем от пользователя строку

### Тип данных можно иногда поменять
`int()` - в целое число

`float()` - в число с точкой

`str()` - в строку

In [ ]:
print(type(user_input))
user_input_int = int(user_input)
print(user_input_int)  # превратили строку в число
print(type(user_input_int))

In [ ]:
print(type(int("sjkkd")))  # не всё можно превратить в число

Разряды через запятую, как в западной традиции тоже не выходят:

In [ ]:
print(int("2,000,314"))

И так же не выйдет с пробелом:

In [ ]:
print(int("2 000"))

In [ ]:
pi_string = '3.1415'
pi = int(pi_string)  # так тоже нельзя, int - целые числа

In [ ]:
pi_string = '3.1415'
pi = float(pi_string)  # переводим строку в float
print(pi)

Запятая `,` как разделитель не пойдёт

In [ ]:
pi_string = '3,1415'
pi = float(pi_string)  # переводим строку в float
print(pi)

In [ ]:
d = 2.3
int(d)  # дробное число можно перевести в целое

In [ ]:
e = 2.72
int(e)  # это не округление, просто отбрасывается дробная часть

In [ ]:
# целое в дробное тоже можно
f = 10
float(f)

### Потренируемся!
Напишите код, берущий два числа у пользователя и выдающий их сумму

163170 минут. Сколько это дней, часов и минут?

### Про красоту кода

- переменные латиницей, названия говорящие: `newspaper_text`, ~~`bkjkbg`~~, ~~`плим`~~  
- вокруг математических операторов пробелы:  `c = a + b`, ~~`c=a+b`~~ 
- между функцией и скобкой нет пробела: `type('string')`, ~~`type ('string')`~~

In [ ]:
# регистр в названии важен
some_name = 'Лёша'
Some_name = 'Алёша'
print(some_name, Some_name)

### `print( )` - функция, которая печатает
`sep` - для указания разделителя (по умолчанию sep=' ', то есть разделитель пробел)

In [ ]:
answer = 6 * 7
print('Ответ -', answer)

In [ ]:
answer = 6 * 7
print('Ответ', answer, sep=' - ')

In [ ]:
answer = 6 * 7
print(f"Ответ - {answer}")
# это форматированная строка (поэтому f).
# Через несколько пар обсудим такое подробнее.

### Потренируемся
Как вывести строку "Ответ - 42."?